/* css/workspaces.css */
#workspaces {
    font-weight: bold;
    font-size: 10px;
    border: none;

    color: @text-main;
    
    transition: all 0.2s ease;
}

#workspaces button {
    margin: 0 4px;
    color: @text-main;
    
    transition: all 0.2s ease-out;
}

#workspaces button:hover {
    background-color: @hover-bg;
}

#workspaces button.active {
    min-width: 20px;
    min-height: 20px;
    margin: 0 4px;
    color: @white;
    background-color: rgba(166, 227, 161, 0.15); /* Verde transparente */
}